*,
::after,
::before {
  box-sizing: border-box;  
}

a:hover{
  cursor: pointer;
}

button {
  border-radius: 8px;
  padding: 0.3em 1.4em;
  font-family: var(--HeadingType1Font);
  font-weight: bold;
}


iframe{
  width:100%;
  height: 90%;
}


:root {
    /* COLORS */
    --BgColor:#F1F1F1;
    --Prim_0:#52B788;
    --TextColor:#2D3047;
    --BoxesGrey:#E9E9E9;
    --LinkBlue:#4132C8;
    --CallToActionOrange:#DE3116;
    --green-dark: #0f5132;
    --red-dark: #842029;
    /* Fonts */
    --HeadingType1Font:'Maven Pro' , sans-serif;
    --HeadingType2Font:'Bebas Neue', sans-serif;
    --TextFont: 'sans source pro', sans-serif;
    /* Others */
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --shadow-1:0 8px 60px 5px  rgba(0, 0, 0, 0.226);
    
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+3:400|Maven+Pro:400');

 
html {font-size: 100%;} /*16px*/

body {
  background: var(--BgColor);
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  margin: 0;
  height: fit-content;
}

p { 
    margin-top: 0;
    margin-bottom: 1.5rem;
     
}

h1, h2, h3, h4, h5 {
   
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;
  font-family: var(--HeadingType1Font);
}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}


a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

/* ******************************* */

/* NAV BAR */

 


.navBarCenter{
  width: 83vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  transition: 0.3s ease-in-out all;
   
}

a:hover{
  color: var(--LinkBlue);
}

.btn:hover{
  color: white;
}

.btn{
  display: block;
  padding: 0.5rem;  
}


.bodypusher{
  border: 2px solid rgb(39, 187, 20);
  height: fit-content ;
   
}

 
.navBarWrapper{
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: fit-content ;
  box-shadow: var(--shadow-1);
  position: sticky;
  top: 0;
  
  
}

.nav_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: auto;
  max-height: 100px;
}
 
.logo{
  width: 15rem;
  height: auto;
}

.nav_links{
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-top: 1rem;  
  height: 20rem;
  
  display: none;
}

.nav_links > .Border  {
  
  border-bottom: 1px solid var(--TextColor);
  text-align: center;
  font-family: 'Source Sans 3','Maven Pro',sans-serif;
  width: 100%;
  padding: 0.9rem;
}

.nav_links > a{
  padding: 0.9rem;
}
.nav_links .contact_link{
  background-color: var(--Prim_0);
  color: var(--BgColor);
  font-family: 'Source Sans 3','Maven Pro',sans-serif;
  text-align: center;
  width: 100%;
  font-size: bold;
  border-radius: 5px;
}

.toogeled{
   display: flex;
}

@media screen and (min-width: 992px){

  .btn:hover{
    color: white;
    transition: 0.1s ease-in-out all;
    padding: 0.1rem 1.5rem;
  }
 

  .navBarCenter{
    margin: auto;
    flex-direction: row;
    height: 100px !important;
    
  }

  .space-y-2 {
    display: none;
  }

  .nav_links{
    flex-direction: row;
    display: flex;
  }

  .nav_links > a , .nav_links .nav_link, .nav_links > .Border {
    border: none; 
    margin:auto;   
    font-size: 17px;
    width: auto;
    padding: 0%;
     
  }

  .nav_links .nav_link{
    border-radius: 5px; 
    padding:0.5rem 0;
    text-align: center;
    padding: 0.5rem 0rem;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;   
    cursor: pointer;
  }
  
  .btn{
    padding: 0 1.4rem;
  }

  .nav_links{
    height: 100%;
    margin: 0;
    width: 50%;
    min-width:506px;
  }

   .navBarCenter{
    display: flex;
    justify-content: space-between;
   }

   .nav_header{
    width: 25%;
   }

} 

/* END NAV BAR */

 
/* FOOTER */

.footer{
  background-color: var(--Prim_0);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3em 3em 0.5em ;
}

.recapInfo hr{
  border-top:2px solid rgba(0, 0, 0, 0.26);
  margin-bottom: 0.6em;
  width: 95%;
}


.footerCenter{
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
 
 
.map{
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}

 

.part1Grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr   ;
  grid-template-rows: 1fr 1fr;
  color: var(--BgColor);
  padding: 0 0 2em 0 ;
  gap: 1.5em;
  
}

.itemtop{
  display: flex;
  align-items: center;
}

.item{
  margin: 0;
  height: 100%;
}

.adresse{
   
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  height: 100%;
}

.contact{
   
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  height: 100%;
}

.centerContact > p {
  margin: 0;
  margin-left: 1em;
  height: 19px;
}

 
.centerAdresse > p {
  margin: 0;
  margin-left: 2em;
  width: 130px;
}


/* .centerContact > h5{
  margin: 1.2em 0 0.2em 0;
 }
 */
  

 .centerContact > h5{
   
 }

.part2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logoFooter{
  width: 10em;  
}
  
.textFooter > p{
  margin: auto;
  color: var(--BgColor);
}


@media screen and (max-width: 990px) {

  .responsiveFooter{
    width: 100%;
    height: 100%;
     
  }

  .footerCenter{
    height: auto;
    color: var(--BgColor);
  }

  .map{
    width: 70%;
    margin: auto;
    height: fit-content;
  }

  iframe{
    width: 100%;
    height: 14em;
    padding-bottom: 2em;
  }

 

   .centerAdresse p ,.centerAdresse h5{
    width:100% ;
    margin: 0;
    text-align: center;
   }
   
   .centerContact p ,.centerContact h5{
    width:100% ;
    margin: 0;
    display: flex;
    justify-content: center;
   }

 .adresse{
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 2em;
 }

 .contact{
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 2em;
  padding-top: 0;
 }

 .footer hr{
  
  border: 1px solid rgba(0, 0, 0, 0.37);
  width: 90%;
  margin: auto;
  margin: 1em;
}

 .textFooter > p{
    font-size: small;
 }

 .part2{
  
  display: flex;
  flex-direction: column;
 }

 .part1Grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
 }
 
}

/* Renseignement */
 
.bodyContent{ 
  
  min-height: 59vh;
  width: 80%;
  margin: auto;
  height:fit-content;
  padding: 2em 0;
}

.gradiantLine{
  background: linear-gradient(to right,#ffe600, #fcfa9e );
  height: 8px;
  
}
 
.infoFrame{
  width: 90%;
  margin: auto; 
  margin-top: 2em;
  height: fit-content;
  background-color: #50505015;
}

.verticalLine {
  width: 4px;  
  height: 33em;
  margin: auto; 
  background-color: #0000005d;  
}

.InfoContainer{
  padding: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
}

.InfoContainer h5 ,.InfoContainer p{
  margin: 0; 
}

.info1{
  height: 100%;
  width: 100%;
}

.info2{
  height: 100%;
  width: 100%;
}

.Title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title  h2 {
 
  width: 60%;
  margin: 0;
  text-align: center;
  margin-top: 1em;
}

.Title h3{
   
  width: fit-content;
  margin: 0;
}

.Coordonees{
  margin-left: 2em;
}

.Coordonees p{
  margin-left: 2em;
}

.coordeonneTout{
  margin-left: 2em;
}

 .localisation iframe{
  width: 80%;
  margin: auto;
  margin-top: 1em;
  height: 13em;
 }


 .telephone{
  margin: 1em;
 }
 

 .adresseMail{
  margin: 1em;
 }

 .body-logo img{
  width: 12em;
  margin: auto;
  margin-top: 2.5em;
 }

 .Margin {
  padding-top: 1em;
  width: 42%;   
 }

 .info1 p {
  margin-left: 2em;
 }
 
 .services{
  margin-top:2em ;
 }

.services, .programme{
  margin-left:2em ;
}

.localisation h5{
  margin-left:1.5em ;
  margin-top: 1em;
}

.Breakpoint1{
  width: 100%;
}

.servicesRESP ,  .localisationRESP ,.verticalLine2{
  display: none;
}

.verticalLine2{
  border: 1px solid rgba(0, 0, 0, 0.247);
}

@media screen and (max-width: 990px) and (min-width:742px){
  .bodyContent{
    width: 100%;
  }
  .infoFrame{
    width: 100%;
  }

  .adresse{
    flex-direction: column;
  }

}

@media screen and (max-width: 742px){

  .InfoContainer{
    flex-direction: column;
  }

  .bodyContent{
    width: 100%;
  }

  .infoFrame{
    width: 100%;
  }

  .verticalLine{
     width: 90%;
     height: 2px;
  }

  .info1 > .services , .info1 > .localisation{
    display: none;
  }

  .servicesRESP ,  .localisationRESP , .verticalLine2{
    display: block;
  }
  
  .infoFrame{
    width: 90%;
  }
 
  .adresse{
    flex-direction: column;
  }

  .verticalLine ,.verticalLine2{
    margin: 3em;
  }

  .servicesRESP , .servicesRESP > p{
    margin-left: 2em;
  }

   .localisationRESP > h5 {
    margin-left: 2em;
    margin: 1em;
   }

   .localisationRESP > iframe {
    width: 80%;
    margin:auto;
   }


}

/* MAin page  */

.Heroh5 {
  margin-bottom: 1.5em;
}


.bodyContentMain{
  width: 100%;
  min-height: 80vh;
}


.heroSectionWrapper{
  width:100%;
  height: fit-content;  
}

.heroSection{
  display: flex;
  padding-bottom: 1em;
  height: fit-content;
  background-color: #0E3A41;
  overflow: hidden;
  position: relative;
}

.contentHero{
  z-index: 1;
  width: 45em;
  padding: 2em;
  margin-left: 10%;
  height: fit-content;
}

.textHero{
  z-index: 1;
  color: var(--BgColor);
 
}

.textHero > p {
  width: 25em;
  margin-left: 5px;
  font-family:var(--TextFont);
}

.textHero h1{
  margin: 0;
  font-weight: bold;
}

.textHero h5{
  font-weight: bold;
}

.buttonSetHero{
  display: flex; 
  justify-content: space-between;
  width: 19em;
  margin-left: 1em;
   
}



.buttonSetHero > .contactHero{
  background-color: #DE3116;
  color: var(--BgColor);
}

.buttonSetHero > .renseignement{
  border: 1px solid var(--BgColor);
  color: var(--BgColor);
}

.buttonSetHero > .renseignement:hover, .buttonSetHero > .contactHero:hover,.textContentIntroduction button:hover{
  transition: var(--transition);
  padding: 0.5em 1.5em;
}

.imageSetHero{
  position: absolute;
  right: 0;
}

.imageSetHero > .img1{
  width: 350px;
}

.imageSetHero > .img2{
  width: 180px;
  margin: auto;
  position: absolute;
  bottom: 0;
}

 
.HeroDeco1{
  width: 80%;
  height: 10px;
  margin: auto;
  background-color: #52B788;  
}

@media screen and (max-width: 742px){

  .imageSetHero > .img2{
    width: 180px;
    margin: auto;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  
  .contentHero{
    margin-left:0 ;
  }

  .imageSetHero{
    opacity: 0.55;
  }

  .buttonSetHero{
    flex-direction: column;
    height: fit-content;
  }

  .buttonSetHero > .contactHero , .buttonSetHero > .renseignement{
    width: fit-content;
    margin-bottom: 12px;
  }

}

/* 2 */

.introdutionWrapper{ 
   padding:5em 0 ;
}

.introductionCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90vw;
  margin: auto;
  
}

.textContentIntroduction button{
  transition: var(--transition);
  color: var(--Prim_0);
  border:2px solid  var(--Prim_0)  ;
}

.textContentIntroduction{
  margin-top: 3em;
  width: 100%;
}

 

.p1Intro{
  width: 70%;
  margin: auto;
}
.p2Intro{
  width: 70%;
  margin: auto;
  margin-bottom:2em;
}

.headingIntroduction{
  width: 90vw;
}

.headingIntroduction > h2{
  font-size: 37px;
}

/* 3 */

.programWrapper{
  margin-top: 6em;
}

.proram_note{
  width: 80%;
  gap: 3em;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .mainprogrambox{
  
  width: 65%;
  padding: 2em 4em;
  border-radius: 15px;
  background-color: #E9E9E9;
  box-shadow: var(--shadow-1);
 }

.doctorNote{
   
  text-align: center;
  width: 30%;
  padding: 2em 0.5em;
  border-radius: 15px;
  background-color: #E9E9E9;
  box-shadow: var(--shadow-1);
}

.doctorNote h4{
  font-size: 2.2vw;
}

.programWrapper hr{
  border-top: 1px solid  rgba(0, 0, 0, 0.432);
}

.dayprogram{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 @media screen and (max-width:990px){

  .proram_note{
    flex-direction: column;
  }

  .doctorNote{
    width: 100%;
    height: 10em;
  }

  .mainprogrambox{
    width: 100%;
  }

  .doctorNote h4{
    font-size: 1.8em;
  }
  
 }

.serviceGridWrapper{
  margin: 5em 0em;
  width: 100%;
  height: fit-content;
}

.headingServices{
  text-align: center;
}

.topgrad1{
  height: 5px;
  background-color: red;
}
.topgrad2{
  height: 5px;
  background-color: blue;
}
.topgrad3{
  height: 5px;
  background-color: yellow;
}
.topgrad4{
  height: 5px;
  background-color: green ;
}

.serviceGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5em;
  margin: auto;
  width: 70%;
  height: fit-content;
  margin-top: 4em;
   
}

 

.service{
  padding: 2em 2em 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 19em;
  overflow: hidden;
  
  background-color: #5050501c; 
  
}

.serviceGrid p, .serviceGrid h3{
  text-align: center;

  
}

.serviceGrid p{
  margin-top: 1.9em;
  margin-bottom: 1.5em;
  height: fit-content;
  overflow: hidden;
 /*  border:2px solid black; */
   
}

.serviceGrid button{
  border-radius: 30px;
  display: flex;
  border:1px solid black;
}

.service_topGrad{
  margin: auto;
  max-width: 25em;
}


@media screen and (max-width:1000px) {

  .serviceGrid {
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2em;
  }


}

/* 4 */

.RenseigementWrapper{
  background-color: var(--Prim_0);
  margin: 4em 0 ;
  width: 100%;
  padding: 4em;
  text-align: center;
  color: var(--BgColor);
   
}

.RenseigementWrapper button{
  border: 2px solid var(--BgColor);
}


@media screen and (max-width: 742px){
  
  .RenseigementWrapper{
    text-align: left;
  }

}

 /* 5 */

.discoverWrapper{
  
  width: 100%;
  margin-bottom: 7em;
}

.discoverCenter{
   
  margin: auto;
  width: 70%;
  text-align: center;

}

.textContentDiscover{
  margin-top: 2.5em;
}

.discoverCenter button{ 
  color: var(--Prim_0);
  border:2px solid var(--Prim_0);
}

.headingdiscover h2{
  font-size: 37px;
}


/* END MAin Page  */